rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      // Admin status is granted if a document with the user's UID exists in the /roles_admin collection.
      return request.auth != null && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    match /houses/{houseId} {
      // Anyone can read house data.
      allow read: if true;

      // Only administrators can create, update, or delete houses.
      allow write: if isAdmin();
    }
    
    match /roles_admin/{userId} {
      // No client should be able to read or write to the admin roles directly.
      // These roles should be managed from the Firebase Console.
      allow read, write: if false;
    }
  }
}
